<div id="footer-panel">
<div id="footer">
Copyright Google 2015
</div>
</div>
<!-- Google Analytics tracking code -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
    "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-34671662-2");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>
</html>
