</div>
<!-- Hack to work around script_foot_closure.js breaking nav. -->
<div class="devsite-search-form devsite-search-field">
</div>
<footer class="devsite-utility-footer">
   <nav class="devsite-utility-footer-nav devsite-nav devsite-full-site-width">
      <span class="devsite-utility-footer-links"><a href="https://www.google.com/policies/terms/">Terms</a>
      &nbsp; | &nbsp;
      <a href="https://www.google.com/intl/en/privacy/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Privacy Link">Privacy</a></span>

      <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



      </div>
   </nav>
</footer>
<script>
   $(document).ready(function() {
     new devsite.feedback.Widget({
         'product_id': '85209',
         'bucket': '',
         'context': '',
         'version': 'devsite-20150608-r01-rc03.default'
       },
       document.querySelectorAll('.devsite-feedback-button'),
       document.querySelector('.devsite-site-mask'),
       document.querySelector('.devsite-feedback-dialog'),
       document.querySelector('.devsite-feedback-cancel'),
       document.querySelectorAll('.devsite-feedback-item a')
     );
   });
</script>
</div>
<script async="" defer="" src="//www.gstatic.com/feedback/api.js"></script>
<script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="https://developers.google.com/_static2/b1cf276a6f/jsi18n/?hl=en"></script>
<script src="https://developers.google.com/_static/0c175b45ae/js/script_foot_closure.js"></script>
<script src="https://developers.google.com/_static/0c175b45ae/js/script_foot.js"></script>
<script>
devsite.timing.tick('jl');
(function($) {
  devsite.devsite.Init($, 'devsite',
      '[]', '',
      'en', true,
      '', '',
      true,
      {"296e8173cd0024b4839dd7f3d7fa4387": true, "04f8c40014dc472fb1b95e175fb1b9fd": true, "6749dcb526ce9bde6993550c7d928d24": true, "993b1906435224595bd618f6f331ee45": true, "6e6d95ece619bf85cc1ea2c6da8a4690": true}, '');
})(jQuery);


devsite.localInit = function() {

};
</script>
<script>
$('#setlang select').each(function() {
  if (navigator.userAgent.match(/msie/i)) {
    $(this).change(function() {
      $('#setlang').submit();
    });
  } else {
    $(this).kdSelect({'change': function() {
      $('#setlang').submit();
    }});
  }
});
</script>
<script>
        /* <![CDATA[ */
        var google_conversion_id = 992540712;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "qio2CKCPwQMQqPCj2QM";
        var google_conversion_value = 0;
        /* ]]> */
      </script>
</body>
<span id="devsite-request-elapsed" data-request-elapsed="383.629798889"></span>
</html>
