{% assign site_root = "" %}
{% assign path_parts = page.url | split:"/" %}
{% for part in path_parts offset:2 %}
{% assign site_root = site_root | append:"../" %}
{% endfor %}

<html lang="en" class="devsite">
   <head>
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://apis.google.com/js/platform.js?onload=gplusLoaded" gapi_processed="true"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" ></script><script>var a=window.devsite||{};window.devsite=a;a.readyCallbacks=[];window.devsite.readyCallbacks=a.readyCallbacks;a.ready=function(c){a.readyCallbacks.push(c)};window.devsite.ready=a.ready;a.timing={};window.devsite=a;window.devsite.timing=a.timing;a.timing.timers=[];a.timing.tick=function(c,b,g){for(var d=0;d<a.timing.timers.length;d++)a.timing.timers[d].tick(c,b,g)};window.devsite.timing.tick=a.timing.tick;a.timing.report=function(c){a.setTimeout(function(){for(var b=0;b<a.timing.timers.length;b++)window.jstiming.report(a.timing.timers[b],c)},500)};
         a.timing.init=function(c){a.timing.timers.push(window.jstiming.load);if(c){var b=new window.jstiming.Timer;b.name=c;a.timing.timers.push(b)}document.addEventListener&&window.addEventListener&&(document.addEventListener("DOMContentLoaded",a.timing.handleDomContentLoaded,!1),window.addEventListener("load",a.timing.handleLoad,!1))};a.timing.handleDomContentLoaded=function(){a.timing.tick("ol");document.removeEventListener("DOMContentLoaded",a.timing.handleDomContentLoaded,!1)};
         a.timing.handleLoad=function(){window.removeEventListener("load",a.timing.handleLoad,!1);var c=document.querySelector("#devsite-request-elapsed");c&&(c=parseInt(c.getAttribute("data-request-elapsed"),10))&&(a.timing.tick("_st_start",null,1),a.timing.tick("st","_st_start",1+c));a.timing.tick("prt");a.timing.report()};(function(){function c(b){this.t={};this.tick=function(b,c,d){var e=void 0!=d?d:(new Date).getTime();this.t[b]=[e,c];if(void 0==d)try{window.console.timeStamp("CSI/"+b)}catch(f){}};this.tick("start",null,b)}var b;window.performance&&(b=window.performance.timing);var g=b?new c(b.responseStart):new c;window.jstiming={Timer:c,load:g};if(b){var d=b.navigationStart,f=b.responseStart;0<d&&f>=d&&(window.jstiming.srt=f-d)}if(b){var e=window.jstiming.load;0<d&&f>=d&&(e.tick("_wtsrt",void 0,d),e.tick("wtsrt_",
         "_wtsrt",f),e.tick("tbsd_","wtsrt_"))}try{b=null,window.chrome&&window.chrome.csi&&(b=Math.floor(window.chrome.csi().pageT),e&&0<d&&(e.tick("_tbnd",void 0,window.chrome.csi().startE),e.tick("tbnd_","_tbnd",d))),null==b&&window.gtbExternal&&(b=window.gtbExternal.pageT()),null==b&&window.external&&(b=window.external.pageT,e&&0<d&&(e.tick("_tbnd",void 0,window.external.startE),e.tick("tbnd_","_tbnd",d))),b&&(window.jstiming.pt=b)}catch(h){}})();
         devsite.timing.init('DocPageDynamic');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://developers.google.com/_static/758e0d6560/css/devsite-green.css" rel="stylesheet">
      <link rel="stylesheet" href="{{site_root}}styles/main.css">
      <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,700" rel="stylesheet">
      <link rel="icon" type="image/png" href="{{site_root}}images/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="{{site_root}}images/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="{{site_root}}images/favicon-192x192.png" sizes="192x192">
      <link rel="apple-touch-icon" href="{{site_root}}images/favicon-180x180.png">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <style></style>
      <script>devsite.timing.tick('cl');</script>
      <meta property="og:site_name" content="Google Developers">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://developers.google.com/maps/documentation/ios/reference/index">
      <meta property="og:locale" content="en">
      <script>
         var ___gcfg = ___gcfg || {};
         ___gcfg.lang = 'en';
      </script>
      <title>J2ObjC</title>
      <meta property="og:title" content="Class List">
   </head>
   <body class="devsite-{{page.page_type}}
      no-touch" id="top_of_page">
      <div class="devsite-wrapper" style="margin-top: 0px;">
         <header class="devsite-top-section
            " style="position: static;">

            <div class="devsite-top-logo-row-wrapper-wrapper" style="position: fixed;">
               <div class="devsite-top-logo-row-wrapper">

               </div>
            </div>

            <div class="devsite-collapsible-section" style="margin-top: 0px;">
               <div class="devsite-header-background">
                 <div class="devsite-top-logo-row devsite-full-site-width">
                   <div class="float-right">
                     <div class="devsite-search-wrapper devsite-history-enabled">
                         <form class="devsite-search-form" action="{{site_root}}search" method="GET" id="top-search">

                             <div id="searchbox" class="devsite-searchbox">
                                 <input placeholder="Search" type="text" class="devsite-search-field devsite-search-query" name="q" value="" autocomplete="off">

                             </div>
                             <div class="devsite-search-image"></div>
                             <input type="hidden" id="suggest-category-label-2" value="Pages in API Discovery Service">
                             <input type="hidden" id="suggest-category-label-3" value="Reference in API Discovery Service">
                             <input type="hidden" id="suggest-category-label-1" value="Products">
                             <input type="hidden" id="suggest-all-results-label" value="See all results for">
                         </form>
                     </div>
                     <button type="button" class="devsite-search-button button-flat">

                         Search
                     </button>
                   </div>
                 </div>
                  <div class="devsite-product-id-row devsite-full-site-width" style="visibility: visible;">
                     <div class="devsite-product-id-row-links-container">
                        <a class="devsite-product-logo-link" href="{{site_root}}" data-label="Project logo (header)">
                           <div class="devsite-product-logo-container"><img class="devsite-product-logo" src="{{site_root}}images/j2objc-logo.png" alt="J2ObjC"></div>
                        </a>
                        <a class="devsite-product-name" href="{{site_root}}"  data-label="Project name (header)">
                        J2ObjC
                        </a>
                        <br>

                     </div>
                     <div class="devsite-product-description-row">Java to iOS Objective-C translation tool and runtime.</div>
                  </div>
                  <div class="devsite-background">
                  <div class="devsite-doc-set-nav-row devsite-full-site-width">
                     <nav class="devsite-doc-set-nav devsite-nav">
                        <ul class="devsite-doc-set-nav-tab-list">
                           <li class="devsite-doc-set-nav-tab-container"><a href="{{site_root}}" class="{{page.root_nav}}
                              devsite-doc-set-nav-tab"  data-label="Tab: Home">
                              Home
                              </a>
                           </li>
                           <li class="devsite-doc-set-nav-tab-container"><a href="{{site_root}}docs/" class="{{page.doc_nav}}
                              devsite-doc-set-nav-tab"  data-label="Tab: Guides">
                              Guides
                              </a>
                           </li>
                           <li class="devsite-doc-set-nav-tab-container"><a href="{{site_root}}blog/" class="{{page.blog_nav}} devsite-doc-set-nav-tab"  data-label="Tab: Blog">
                              Blog
                              </a>
                           </li>
                           <li class="devsite-doc-set-nav-tab-container"><a href="{{site_root}}contact/" class="{{page.contact_nav}}
                              devsite-doc-set-nav-tab"  data-label="Tab: Contact">
                              Contact
                              </a>
                           </li>
                        </ul>
                     </nav>
                     <a href="https://github.com/google/j2objc" target="blank" class="button github-button-big button-raised button-text-black">
                      <span class="github-text">View On Github</span>
                      <img class="github-logo" src="{{site_root}}images/github.png" alt="Github">
                     </a>
                     <a href="https://github.com/google/j2objc" target="blank" class="button github-button-small button-raised button-text-black">
                      <span class="github-text">Github</span>
                      <img class="github-logo" src="{{site_root}}images/github.png" alt="Github">
                     </a>
                   </div>
                 </div>
               </div>
            </div>
         </header>
         <script>
            if (window.jQuery) {
              $(document).ready(function() {
                if (window.devsite && window.devsite.search) {

                  window.devsite.search.init('en', false, null)
                }
              });
            }
         </script>
         <div class="kd-butterbar"><span><span class="message"></span><a href="#" class="kd-butterbar-dismiss">Hide</a></span></div>
