<script type="text/javascript" charset="utf-8">
  {% include nav.js %}
</script>
<nav id="menu" class="dynamic">
<ul>
<li class="group">
<a name="name" class="active"><nav>User's Guide</nav></a>
<ul name="list">
<li><a href="{{site_root}}docs/Users-Guide.html"><nav>Why Use J2ObjC?</nav></a>
<li><a href="{{site_root}}docs/Getting-Started.html">Getting Started</a></li>
<li><a href="{{site_root}}docs/Using-J2ObjC-with-Xcode.html">Using J2ObjC with Xcode</a>
<ul name="list">
  <li><a href="{{site_root}}docs/External-Build-Projects.html">External Build Projects</a></li>
  <li><a href="{{site_root}}docs/Xcode-Build-Rules.html">Xcode Build Rules</a></li>
  <li><a href="{{site_root}}docs/Adding-the-JreEmulation-project-to-your-Xcode-project.html">The JreEmulation Project</a></li>
</ul></li>
<li><a href="{{site_root}}docs/Using-J2ObjC-with-Make.html">Using J2ObjC with Make</a></li>
<li><a href="{{site_root}}docs/Using-J2ObjC-with-Eclipse.html">Using J2ObjC with Eclipse</a></li>
<li><a href="{{site_root}}docs/Using-J2ObjC-with-Gradle.html">Using J2ObjC with Gradle</a></li>
</ul></li>
<li class="group">
<a name="name"><nav name="name">Developing with J2ObjC</nav></a>
<ul name="list">
<li><a href="{{site_root}}docs/Required-Link-Flags.html">Required Link Flags</a></li>
<li><a href="{{site_root}}docs/Reading-Generated-Sources.html">Reading Generated Sources</a></li>
<li><a href="{{site_root}}docs/Changing-Method-Names.html">Changing Method Names</a></li>
<li><a href="{{site_root}}docs/Writing-Native-Methods.html">Writing Native Methods</a></li>
<li><a href="{{site_root}}docs/Translating-JUnit-Tests.html">Translating JUnit Tests</a></li>
<li><a href="{{site_root}}docs/Memory-Management.html">Memory Management</a>
<ul><li><a href="{{site_root}}docs/Cycle-Finder-Tool.html">Cycle Finder Tool</a></li>
</ul>
<li><a href="{{site_root}}docs/Dead-Code-Elimination.html">Dead Code Elimination</a></li>
<li><a href="{{site_root}}docs/Package-Prefixes.html">Package Prefixes</a></li>
<li><a href="{{site_root}}docs/FAQ.html">FAQ</a></li>
<li><a href="{{site_root}}docs/Reporting-Issues.html">Reporting Issues</a></li>
<li><a href="{{site_root}}docs/Building-J2ObjC.html">Building J2ObjC</a></li>
<li><a href="{{site_root}}docs/Using-Protocol-Buffers.html">Using Protocol Buffers</a></li>
<li><a href="{{site_root}}docs/Java-Resources.html">Java Resources</a></li>
</ul>
</li>
<li class="group">
<a name="name"><nav name="name">Reference Docs</nav></a>
<ul name="list" >
<li><a href="{{site_root}}docs/j2objc.html">j2objc</a></li>
<li><a href="{{site_root}}docs/j2objcc.html">j2objcc</a></li>
<li><a href="{{site_root}}docs/cycle_finder.html">cycle_finder</a></li>
<li><a href="{{site_root}}docs/Jre-Emulation-Reference.html">JRE Emulation Reference</a></li>
</ul></li>
<li class="group">
<a name="name"><nav name="name">J2ObjC Annotations</nav></a>
<ul name="list">
<li><a href="{{site_root}}docs/AutoreleasePool.html">AutoreleasePool</a></li>
<li><a href="{{site_root}}docs/LoopTranslation.html">LoopTranslation</a></li>
<li><a href="{{site_root}}docs/ObjectiveCIncompatible.html">ObjectiveCIncompatible</a></li>
<li><a href="{{site_root}}docs/ObjectiveCName.html">ObjectiveCName</a></li>
<li><a href="{{site_root}}docs/Weak.html">Weak</a></li>
<li><a href="{{site_root}}docs/WeakOuter.html">WeakOuter</a></li>
</ul></li>
<li class="group">
<a name="name"><nav name="name">Community</nav></a>
<ul name="list">
<li><a href="{{site_root}}docs/20%-Project-Ideas.html">20% Project Ideas</a></li>
<li><a href="https://github.com/google/j2objc/blob/master/CONTRIBUTING.md">How to Contribute</a></li>
<li><a href="{{site_root}}docs/Projects-that-use-J2ObjC.html">Projects that use J2ObjC</a></li>
</ul>
</li>
<li class="group">
<a name="name"><nav name="name">Design Docs</nav></a>
<ul name="list"> 
<li><a href="{{site_root}}docs/Design-Overview.html">Design Overview</a></li>
<li><a href="{{site_root}}docs/Java-Conversions.html">Java Conversions</a></li>
</ul></li></ul></li></ul></nav>
