<script>
{% include nav.js %}
</script>
<nav class="devsite-section-nav-responsive devsite-nav" tabindex="0" style="left: -256px;">
<ul class="devsite-nav-expandable">
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>User's Guide
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/index.html" class="devsite-nav-title gc-analytics-event">
<span>Why Use J2ObjC?</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Getting-Started.html" class="devsite-nav-title gc-analytics-event">
<span>Getting Started</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Xcode.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Xcode</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/External-Build-Projects.html" class="devsite-nav-title gc-analytics-event">
<span>External Build Projects</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Xcode-Build-Rules.html" class="devsite-nav-title gc-analytics-event">
<span>Xcode Build Rules</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Adding-the-JreEmulation-project-to-your-Xcode-project.html" class="devsite-nav-title gc-analytics-event">
<span>The JreEmulation Project</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Make.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Make</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Eclipse.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Eclipse</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Gradle.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Gradle</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Developing with J2ObjC
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/Required-Link-Flags.html" class="devsite-nav-title gc-analytics-event">
<span>Required Link Flags</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Reading-Generated-Sources.html" class="devsite-nav-title gc-analytics-event">
<span>Reading Generated Sources</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Changing-Method-Names.html" class="devsite-nav-title gc-analytics-event">
<span>Changing Method Names</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Writing-Native-Methods.html" class="devsite-nav-title gc-analytics-event">
<span>Writing Native Methods</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Translating-JUnit-Tests.html" class="devsite-nav-title gc-analytics-event">
<span>Translating JUnit Tests</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Memory-Management.html" class="devsite-nav-title gc-analytics-event">
<span>Memory Management</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Cycle-Finder-Tool.html" class="devsite-nav-title gc-analytics-event">
<span>Cycle Finder Tool</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Dead-Code-Elimination.html" class="devsite-nav-title gc-analytics-event">
<span>Dead Code Elimination</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Package-Prefixes.html" class="devsite-nav-title gc-analytics-event">
<span>Package Prefixes</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/FAQ.html" class="devsite-nav-title gc-analytics-event">
<span>FAQ</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Reporting-Issues.html" class="devsite-nav-title gc-analytics-event">
<span>Reporting Issues</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Building-J2ObjC.html" class="devsite-nav-title gc-analytics-event">
<span>Building J2ObjC</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-Protocol-Buffers.html" class="devsite-nav-title gc-analytics-event">
<span>Using Protocol Buffers</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Java-Resources.html" class="devsite-nav-title gc-analytics-event">
<span>Java Resources</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Reference Docs
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/j2objc.html" class="devsite-nav-title gc-analytics-event">
<span>j2objc</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/j2objcc.html" class="devsite-nav-title gc-analytics-event">
<span>j2objcc</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/cycle_finder.html" class="devsite-nav-title gc-analytics-event">
<span>cycle_finder</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/JRE-Emulation-Reference.html" class="devsite-nav-title gc-analytics-event">
<span>JRE Emulation Reference</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>J2ObjC Annotations
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/AutoreleasePool.html" class="devsite-nav-title gc-analytics-event">
<span>AutoreleasePool</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/LoopTranslation.html" class="devsite-nav-title gc-analytics-event">
<span>LoopTranslation</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/ObjectiveCIncompatible.html" class="devsite-nav-title gc-analytics-event">
<span>ObjectiveCIncompatible</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/ObjectiveCName.html" class="devsite-nav-title gc-analytics-event">
<span>ObjectiveCName</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Weak.html" class="devsite-nav-title gc-analytics-event">
<span>Weak</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/WeakOuter.html" class="devsite-nav-title gc-analytics-event">
<span>WeakOuter</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Community
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/20%25-Project-Ideas.html" class="devsite-nav-title gc-analytics-event">
<span>20% Project Ideas</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Contributing.html" class="devsite-nav-title gc-analytics-event">
<span>How to Contribute</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Projects-that-use-J2ObjC.html" class="devsite-nav-title gc-analytics-event">
<span>Projects that use J2ObjC</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Design Docs
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/Design-Overview.html" class="devsite-nav-title gc-analytics-event">
<span>Design Overview</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Java-Conversions.html" class="devsite-nav-title gc-analytics-event">
<span>Java Conversions</span></a></li>
</ul>
</li>
</ul>
</nav>
<div class="devsite-main-content clearfix" style="margin-top: 40px;">
<nav class="devsite-section-nav devsite-nav" style="left: auto; max-height: 737px; position: relative; top: 0px;">
<ul class="devsite-nav-expandable">
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>User's Guide
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/index.html" class="devsite-nav-title gc-analytics-event">
<span>Why Use J2ObjC?</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Getting-Started.html" class="devsite-nav-title gc-analytics-event">
<span>Getting Started</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Xcode.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Xcode</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/External-Build-Projects.html" class="devsite-nav-title gc-analytics-event">
<span>External Build Projects</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Xcode-Build-Rules.html" class="devsite-nav-title gc-analytics-event">
<span>Xcode Build Rules</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Adding-the-JreEmulation-project-to-your-Xcode-project.html" class="devsite-nav-title gc-analytics-event">
<span>The JreEmulation Project</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Make.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Make</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Eclipse.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Eclipse</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-J2ObjC-with-Gradle.html" class="devsite-nav-title gc-analytics-event">
<span>Using J2ObjC with Gradle</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Developing with J2ObjC
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/Required-Link-Flags.html" class="devsite-nav-title gc-analytics-event">
<span>Required Link Flags</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Reading-Generated-Sources.html" class="devsite-nav-title gc-analytics-event">
<span>Reading Generated Sources</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Changing-Method-Names.html" class="devsite-nav-title gc-analytics-event">
<span>Changing Method Names</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Writing-Native-Methods.html" class="devsite-nav-title gc-analytics-event">
<span>Writing Native Methods</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Translating-JUnit-Tests.html" class="devsite-nav-title gc-analytics-event">
<span>Translating JUnit Tests</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Memory-Management.html" class="devsite-nav-title gc-analytics-event">
<span>Memory Management</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Cycle-Finder-Tool.html" class="devsite-nav-title gc-analytics-event">
<span>Cycle Finder Tool</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Dead-Code-Elimination.html" class="devsite-nav-title gc-analytics-event">
<span>Dead Code Elimination</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Package-Prefixes.html" class="devsite-nav-title gc-analytics-event">
<span>Package Prefixes</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/FAQ.html" class="devsite-nav-title gc-analytics-event">
<span>FAQ</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Reporting-Issues.html" class="devsite-nav-title gc-analytics-event">
<span>Reporting Issues</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Building-J2ObjC.html" class="devsite-nav-title gc-analytics-event">
<span>Building J2ObjC</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Using-Protocol-Buffers.html" class="devsite-nav-title gc-analytics-event">
<span>Using Protocol Buffers</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Java-Resources.html" class="devsite-nav-title gc-analytics-event">
<span>Java Resources</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Reference Docs
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/j2objc.html" class="devsite-nav-title gc-analytics-event">
<span>j2objc</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/j2objcc.html" class="devsite-nav-title gc-analytics-event">
<span>j2objcc</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/cycle_finder.html" class="devsite-nav-title gc-analytics-event">
<span>cycle_finder</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/JRE-Emulation-Reference.html" class="devsite-nav-title gc-analytics-event">
<span>JRE Emulation Reference</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>J2ObjC Annotations
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/AutoreleasePool.html" class="devsite-nav-title gc-analytics-event">
<span>AutoreleasePool</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/LoopTranslation.html" class="devsite-nav-title gc-analytics-event">
<span>LoopTranslation</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/ObjectiveCIncompatible.html" class="devsite-nav-title gc-analytics-event">
<span>ObjectiveCIncompatible</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/ObjectiveCName.html" class="devsite-nav-title gc-analytics-event">
<span>ObjectiveCName</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Weak.html" class="devsite-nav-title gc-analytics-event">
<span>Weak</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/WeakOuter.html" class="devsite-nav-title gc-analytics-event">
<span>WeakOuter</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Community
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/20%25-Project-Ideas.html" class="devsite-nav-title gc-analytics-event">
<span>20% Project Ideas</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Contributing.html" class="devsite-nav-title gc-analytics-event">
<span>How to Contribute</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Projects-that-use-J2ObjC.html" class="devsite-nav-title gc-analytics-event">
<span>Projects that use J2ObjC</span></a></li>
</ul>
</li>
<li class="devsite-nav-item devsite-nav-item-section-expandable">
<a class="devsite-nav-title devsite-nav-title-no-path " tabindex="0">
<span>Design Docs
</span></a>
<a class="devsite-nav-toggle devsite-nav-toggle-collapsed"></a>
<ul class="devsite-nav-section devsite-nav-section-collapsed">
<li class="devsite-nav-item"><a href="{{site_root}}docs/Design-Overview.html" class="devsite-nav-title gc-analytics-event">
<span>Design Overview</span></a></li>
<li class="devsite-nav-item"><a href="{{site_root}}docs/Java-Conversions.html" class="devsite-nav-title gc-analytics-event">
<span>Java Conversions</span></a></li>
</ul>
</li>
</ul>
</nav>
<nav class="devsite-page-nav devsite-nav" style="position: relative; left: auto; max-height: 737px; top: 0px;"></nav>
