/ClassFileConverter$ClassFile.class
/ClassFileConverter.class
/JavacEnvironment.class
/JavacJ2ObjCIncompatibleStripper$Node.class
/JavacJ2ObjCIncompatibleStripper.class
/JavacParser$JavacParseResult.class
/JavacParser$JavacProcessingResult.class
/JavacParser.class
/JavadocConverter.class
/MemoryFileObject.class
/TreeConverter$StackState.class
/TreeConverter.class
