/BuildClosureQueue.class
/FileProcessor$CanonicalPathMap.class
/FileProcessor.class
/GenerationBatch.class
/InputFilePreprocessor.class
/ProcessingContext.class
/TranslationProcessor.class
/package-info.class
/FileProcessor$1.class
