---
layout: blog
blog_nav: devsite-doc-set-nav-active
page_type: landing-page
---

<h2>J2ObjC Blog</h2>

{% for post in paginator.posts  %}
<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title}}</a></h2>

<p><em>{{ post.date | date_to_long_string }} by {{ post.author }}</p></em>

{{ post.content }}

{% endfor %}

<p><a href="feed.xml" class="subscribe">Subscribe</a></p>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% if paginator.next_page %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
