---
layout: blog
comments: true
blog_nav: devsite-doc-set-nav-active
page_type: landing-page
---

<div class="post">
 <h2>{{ page.title }}</h2>
 <div><em>{{ page.date | date_to_long_string }} by <author>{{ page.author }}</author></em></div>

 <div class="entry">{{ content }}</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'j2objc';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>{% endif %}

</div>
