.subscribe{
  float: right
}

.devsite-top-section {
    background-color: #0f9d58
}
.devsite-background {
    margin: 0 auto;
    width: 100%;
    background: #0b8043
}
.devsite-product-logo-container {
    box-shadow: 0px 2px 5px #444;
    height: 72px;
    width: 72px
}
.devsite-product-logo-white {
    margin: 8px 28px 8px 0
}
.devsite-product-logo {
    height: 48px;
    width: 48px
}
.devsite-product-name {
    font: 44px/56px Roboto, sans-serif;
    margin: -2px 0 0 0;
}
.devsite-product-description-row {
    margin: -12px 99px 40px 99px
}
@media screen and (min-width: 1201px) {
  .devsite-landing-page .devsite-article {
    max-width: calc(100% - 200px)
  }
}
@media screen and (max-width: 1200px) {
  .devsite-landing-page .devsite-article {
    max-width: 100%
  }
}
.devsite-wrapper {
    min-height:100%;
    position:relative;
    padding-bottom:56px
}
.devsite-utility-footer {
  	width:100%;
  	position:absolute;
  	bottom:0;
  	left:0
}
.goog-te-combo {
    visibility: visible;
    position:absolute;
    bottom:0;
    left:140%;

}
.goog-te-gadget{
    position:absolute;
    width: 50%;
    bottom:6px;
    visibility: hidden;
}
.goog-te-menu-value{
  margin: -10px
}
.devsite-article h2:first-of-type {
    position: relative;
    margin-top: 0;
    top: -4px
}
