aside.quote::before {
    content: ""
}

aside.quote {
  padding: 24px 48px
}

code, pre{
  line-height: 1.3
}
.mi, .nd {
    color: #ef6c00
}

.k, .kd {
    color: #03a9f4
}

.kt {
    color: #689f38
}

.na {
    color: #0097a7
}

.c1 {
    color: #d81b60
}

.float-right{
  float: right
}
.gsc-above-wrapper-area{
  padding: 0
}
.gsc-resultsHeader{
  display: none
}
.gsc-orderby-container{
  display: none
}
.gsc-table-result{
  margin: 0
}
.gsc-control-cse{
  visibility: hidden;
  margin: -30px -30px 0 0
}
.gsc-search-box{
  visibility: hidden;
  background-color: #0f9d58
}
.gsc-input{
  visibility: visible;
  background-color: #0f9d58
}
.gsc-search-button{
  visibility: visible;
  position: relative;
  background-color: #0f9d58
}
.gsc-clear-button{
  display: none
}
.devsite-search-wrapper{
  width: 280px;
  background: #33ac71
}
.devsite-search-button{
  margin: 6px
}
.devsite-popout{
  display: none
}
.devsite-search-image{
  float: right
}
.devsite-top-logo-row-wrapper{
  background-color: #0f9d58
}
.gsc-above-wrapper-area-container{
  background-color: #fff
}
.subscribe{
  width: 100%;
  text-align: center;
  align: center
}
.github-button-big {
    float: right;
    margin: 6px -4px 6px 0
}
.github-button-small {
    float: right;
    display: none;
    margin: 6px -4px 6px 0
}
@media screen and (max-width: 1000px) {
  .github-button-small {
      display: inline
  }
  .github-button-big {
      display: none
  }
}
.github-logo {
    height: 32px;
    margin: -6px 0 0 0;
    position: relative;
    right: -2px;
    width: 32px;
}
.github-text {
    position: relative;
    bottom: 10px;
    margin: 6px 2px 0 0
}
.no-nav-clearfix {
  margin-top: 40px!important;
}
@media screen and (max-width: 1200px) {
  .no-nav-clearfix {
    margin-top: 1px!important;
  }
}
@media screen and (min-width: 1201px) {
  .no-nav-clearfix {
    margin-top: 40px!important;
  }
}
.newer{
  float: left;
}
.older{
  float: right
}
.main_button{
  margin: -25px 0 25px 106px;
}

.devsite-top-section {
    background-color: #0f9d58
}
.devsite-background {
    margin: 0 auto;
    width: 100%;
    background: #0a8450
}
.devsite-product-logo-container {
    box-shadow: 0px 2px 5px #444;
    margin: -18px 0 0 0;
    height: 98px;
    width: 98px
}
.devsite-product-logo-white {
    margin: 8px 28px 8px 0
}
.devsite-product-logo {
    height: 64px;
    width: 64px;
    margin: 17px;
}
.devsite-product-name {
    font: 44px/56px Roboto, sans-serif;
    margin: -10px 0 0 2px;
}
.devsite-product-description-row {
    margin: -20px 0 40px 107px
}
@media screen and (min-width: 1201px) {
  .devsite-landing-page .devsite-article {
    max-width: calc(100% - 200px)
  }
}
@media screen and (max-width: 1200px) {
  .devsite-landing-page .devsite-article {
    max-width: 100%
  }
  .non-docs-header-fix {
    margin: -40px 0 0 0;
  }
}
.devsite-footer-wrapper{
  width: calc(100% - 160px)
}
.devsite-footer-wrapper a:hover{
  text-decoration: underline
}
.devsite-wrapper {
    min-height:100%;
    position:relative;
    padding-bottom:56px
}
.devsite-utility-footer {
  	width:100%;
  	position:absolute;
  	bottom:0;
  	left:0
}
.goog-te-combo {
    visibility: visible;
    position:absolute;
    bottom:6px;
    right:17px
}
.devsite-utility-footer-links-small {
  display: none;
}
@media screen and (max-width: 720px) {
  .goog-te-combo {
    bottom:11px;
    width: 140px
  }
  .devsite-utility-footer-links {
    display: none;
  }
  .devsite-utility-footer-links-small {
    display: inline;
  }
}
.goog-te-gadget{
    position:absolute;
    width: 100%;
    bottom:-1px;
    left:7px;
    visibility: hidden;
    margin: 0 0 0 0
}
.goog-te-menu-value{
  margin: -10px
}
.devsite-article h2:first-of-type {
    position: relative;
    margin-top: 0;
    top: -4px
}
.devsite-section-nav {
    background: #f7f7f7;
    float: left;
    margin-right: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 12px 16px 16px;
    width: 256px
}
#side-nav {
  position: relative;
  left: auto;
  top: 0;
  left: -170px;
  float: left;
  background: #f7f7f7;
  margin-right: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 12px 16px 16px;
  font-size: 13px;
  line-height: 16px;
  width: 300px;
}
#side-nav ul {
  list-style-type: none;
}
.j2objc-unsupported {
  color: #600;
  font-weight: normal;
}
