.subscribe{
  width: 100%;
  text-align: center;
  align: center
}
.github-logo {
    height: 32px;
    margin: -6px 0 0 0;
    position: relative;
    left: -2px;
    width: 32px;
}
.github-text {
    float: right;
    position: absolute;
    right: 6px;
    margin: 6px 0px 6px 0
}
.github-inner {
    position: relative;
    bottom: 10px;
    margin: 6px 2px 22px 0
}

.newer{
  float: left;
}
.older{
  float: right
}
.main_button{
  margin: -25px 0 25px 106px;
}

.devsite-top-section {
    background-color: #0f9d58
}
.devsite-background {
    margin: 0 auto;
    width: 100%;
    background: #0a8450
}
.devsite-product-logo-container {
    box-shadow: 0px 2px 5px #444;
    margin: -18px 0 0 0;
    height: 98px;
    width: 98px
}
.devsite-product-logo-white {
    margin: 8px 28px 8px 0
}
.devsite-product-logo {
    height: 64px;
    width: 64px;
    margin: 17px;
}
.devsite-product-name {
    font: 44px/56px Roboto, sans-serif;
    margin: -10px 0 0 2px;
}
.devsite-product-description-row {
    margin: -20px 105px 40px 107px
}
@media screen and (min-width: 1201px) {
  .devsite-landing-page .devsite-article {
    max-width: calc(100% - 200px)
  }
}
@media screen and (max-width: 1200px) {
  .devsite-landing-page .devsite-article {
    max-width: 100%
  }
}
.devsite-wrapper {
    min-height:100%;
    position:relative;
    padding-bottom:56px
}
.devsite-utility-footer {
  	width:100%;
  	position:absolute;
  	bottom:0;
  	left:0
}
.goog-te-combo {
    visibility: visible;
    position:absolute;
    bottom:0;
    right:11px;

}
.goog-te-gadget{
    position:absolute;
    width: 100%;
    bottom:5px;
    left:0px;
    visibility: hidden;
}
.goog-te-menu-value{
  margin: -10px
}
.devsite-article h2:first-of-type {
    position: relative;
    margin-top: 0;
    top: -4px
}
.devsite-section-nav {
    background: #f7f7f7;
    float: left;
    margin-right: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 12px 16px 16px;
    width: 256px
}
